# Output directories
/bin/*
!/bin/**/
!/bin/*.bat
!/bin/*.sh
/bin/*.app/
/bin/*.app.dSYM/
/bin/jit/
/bin/Screenshots/
/bin/tool/
/include/
/lib*/

# JetBrains IDE project settings
/.idea/
/cmake-build-*/

# Code::Blocks project settings
/*.cbp

# CMake generated build files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake

# Misc.
*.log
